server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://${POSTGRES_APP_HOST:localhost}:${POSTGRES_APP_PORT:5432}/${POSTGRES_APP_DB:wrenchit_app}
    username: ${POSTGRES_APP_USER:wrenchit}
    password: ${POSTGRES_APP_PASSWORD:wrenchitpass}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false

  flyway:
    enabled: true

  security:
    oauth2:
      resourceserver:
        jwt:
          # MUST match the token's "iss"
          issuer-uri: ${KEYCLOAK_ISSUER_URI:http://keycloak:8082/realms/wrenchit}
          # Optional if issuer-uri is correct, but keeping it explicit is fine
          jwk-set-uri: ${KEYCLOAK_JWK_SET_URI:http://keycloak:8082/realms/wrenchit/protocol/openid-connect/certs}

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

wrenchit:
  security:
    auth-enabled: ${WRENCHIT_SECURITY_AUTH_ENABLED:true}
    keycloak:
      client-id: ${KEYCLOAK_CLIENT_ID:wrenchit-api-public}
logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.security.oauth2: DEBUG
    org.springframework.security.oauth2.jwt: TRACE
    org.springframework.security.oauth2.server.resource: TRACE
