server:
  port: 8080

spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8082/realms/wrenchit

management:
  endpoints:
    web:
      exposure:
        include: health,info

datasource:
  url: jdbc:postgresql://localhost:5432/wrenchit
  username: wrenchit
  password: wrenchit

jpa:
  hibernate:
    ddl-auto: validate
  properties:
    hibernate:
      format_sql: true

flyway:
  enabled: true
